In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

A2. loc is label-based indexing, meaning you use row and column labels to select data.
iloc is integer-based indexing, where you use integer positions to select data.
Here's a quick comparison:

df.loc[row_label, col_label] selects data by label.
df.iloc[row_index, col_index] selects data by integer position.
For example:

df.loc[1, 'A'] selects data in row 1 and column 'A'.
df.iloc[1, 0] selects data at row 1 and column 0 (the first column).

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [4]:
new_df=df. reindex([3,0,1,2] )

In [5]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

THE ROWS IN NEW_DF IS SHUFFLED ACCORDING TO THE GIVEN ARRAY , GIVEN IN THE QUESTION .

In [8]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.185013  0.014155  0.117582  0.312417  0.817935  0.723597
2  0.493071  0.778843  0.593139  0.596921  0.340987  0.964913
3  0.244930  0.282459  0.165550  0.682723  0.046183  0.554568
4  0.853596  0.295567  0.106727  0.605458  0.971933  0.248629
5  0.988671  0.049792  0.638181  0.836006  0.469865  0.964256
6  0.843162  0.412142  0.325446  0.699303  0.086267  0.226875

Q4. Write a code to find the following statistical measurements for the above dataframe df1:                                                           
(i) mean of each and every column present in the dataframe.                                                                                           
(ii) standard deviation of column, ‘column_2’

In [10]:
df1.mean()

column_1    0.601407
column_2    0.305493
column_3    0.324437
column_4    0.622138
column_5    0.455529
column_6    0.613807
dtype: float64

In [11]:
df1['column_2'].std()

0.2779655483378771

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [12]:
df1.loc[2:2,['column_2']]='apoorv'

In [13]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

THE ABOVE CODE IS GIVING ERROR BECAUSE WE CANN'T FIND THE MEAN OF STRING WE CAN ONLY FIND THE MEAN  OF INTIGER .

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

A6. In Pandas, the term "window functions" typically refers to operations that are applied to a rolling or expanding window of data within a DataFrame or Series. These functions are often used in time series analysis and other data manipulation tasks to compute aggregated or transformed values over a specified window of data points.the one type of windows function is rolling .

Q7. Write a code to print only the current month and year at the time of answering this question.

In [49]:
from datetime import datetime 
a=datetime.now()
type(a)

datetime.datetime

In [44]:
print(a.month)
print(a.year)

9
2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [58]:
from datetime import datetime 
a=input("ENTER DAY 1 IN THE FORMAT (YYYY-MM-DD) : ")
b=input("ENTER DAY 2 IN THE FORMAT (YYYY-MM-DD) : ")
c=pd.to_datetime(a)
d=pd.to_datetime(b)
e=c-d
day=e.days
hours , remainder =divmod(e. seconds,3600)
minute , _ =divmod(remainder,60)
print(f"the difference between {a} and {b} {day} days , {hours} hours and {minute} minutes")

ENTER DAY 1 IN THE FORMAT (YYYY-MM-DD) :  2023-07-10
ENTER DAY 2 IN THE FORMAT (YYYY-MM-DD) :  2023-09-10

the difference between 2023-07-10 and 2023-09-10 -62 days , 0 hours and 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print(f"File not found: {file_path}")
    exit(1)
try:
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
except KeyError:
    print(f"Column not found: {column_name}")
    exit(1)
df_sorted = df.sort_values(by=[column_name])
print("\nSorted Data:")
print(df_sorted)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd 
path = input("enter the path of the csv file : ")
df=pd.read_csv(path)
sale=df['sales']
time=df['time']
df.plot.bar(x='sale',y='time',stacked=True)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd 
path = input("enter the path of the csv file : ")
df=pd.read_csv(path)
score=df['test_score']
mean=score.mean()
meadian=score.median()
mode=score.mode()
print(f" mean = {mean} , meadian : {meadian}, mode : {mode}")